/* Font API */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables */
:root {
    --header-height: 3.5rem;
    /* Colours */
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(
    54deg, 
    rgba(45, 45, 45, 0.95) 34%, 
    rgba(45, 45, 45, 0.95)
    );
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border-color: #f1f1f1;

    /* font families */
    --roboto-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;

    /* font size */
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    /* font weight */
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

/* Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5em;
}

h1,
h2,
h3 {
    font-family: var(--mono-font);
    font-weight: var(--bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

textarea,
input {
    background: none;
    border: none;
    outline: none;
}